:root {
    --main-color: #4682b4;
    --light-color: #B0c4de;
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ed3330;
    --alt-red-color: #eb5757;
    --yellow-color: #ffc400;
    --blue-color: #2196f3;
    --purple-color: #6c55e0;
    --section-color: #eff7fa;
    --input-background-color: #eff7fa;
    --Transition: all .3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

::selection {
    background-color: var(--light-color);
    color: var(--main-color);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:767px) {
    .container {
        width: 100%;
    }
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--section-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* Settings  */

.fix-active {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: #fffc;
    box-shadow: 0 0 20px 0px #b0c4de69;
    z-index: 1000;
}

/* ========== Start From Here =========== */


.About-header {
    text-align: center;
    position: relative;
    margin: 100px 0;
}

.About-header:before {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 45%;
    width: 10%;
    height: 3px;
    background-color: var(--light-color);
    border-radius: 5px;
}

.About-header>h2 {
    font-size: 55px;
    color: var(--main-color);
    margin: 0;
}

.About-header>p {
    margin: 0;
    margin-top: 7px;
    font-size: 20px;
    color: var(--light-color);
}

.contact-section {
    padding: 70px 0;
}

.contact-section .contact-ways {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-section .contact-ways .contact {
    flex: 1;
    position: relative;
}

.contact-section .contact-ways .contact h4 {
    font-size: 28px;
}

.contact-section .contact-ways .contact p {
    margin: 0;
    line-height: 1.7;
    padding: 15px;
    font-size: 21px;
    color: var(--dark-color);
}

.contact-section .contact-ways .contact img {
    width: 50px;
    position: absolute;
    bottom: -50px;
    right: 55%;
}

.contact-section .contact-ways form {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: center;
    row-gap: 25px;
}

.contact-section .contact-ways form div:not(:last-child) {
    width: 48%;
    position: relative;
}

.contact-section .contact-ways form input {
    padding: 20px;
    font-size: 17px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--main-color);
    width: 100%;
    color: var(--dark-color);
    caret-color: var(--dark-color);
    position: relative;
    transition: var(--Transition);
}

.contact-section .contact-ways form input+label {
    position: absolute;
    top: 48%;
    left: 20px;
    transform: translateY(-50%);
    transition: var(--Transition);
    cursor: auto;
    font-size: 17px;
    color: var(--main-color);
}

.contact-section .contact-ways form input:focus+label,
.contact-section .contact-ways form input:valid+label {
    position: absolute;
    top: 0px;
    left: 20px;
    background-color: white;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--light-color);
}

.input-counter1,
.input-counter2,
.input-counter3,
.input-counter4 {
    opacity: .2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--main-color);
}

.contact-section .contact-ways form input:focus form span {
    opacity: 1;
}

.zero1,
.zero2,
.zero3,
.zero4 {
    opacity: .2;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--alt-red-color);
}

.contact-section .contact-ways form input:last-child {
    width: 98%;
    font-size: 22px;
    color: var(--main-color);
    cursor: pointer;
    background-color: var(--light-color);
    border: none;
}

.contact-section .contact-ways form div.last {
    width: 98% !important;
}

.contact-section .contact-ways form textarea {
    width: 100%;
    padding: 20px;
    font-size: 17px;
    border-radius: 8px;
    resize: none;
    outline: none;
    color: var(--dark-color);
    caret-color: var(--dark-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
}

.contact-section .contact-ways form textarea+label {
    position: absolute;
    top: 12%;
    left: 21px;
    transform: translateY(-50%);
    transition: var(--Transition);
    cursor: auto;
    font-size: 17px;
    color: var(--main-color);
}

.contact-section .contact-ways form textarea:focus+label,
.contact-section .contact-ways form textarea:valid+label {
    position: absolute;
    top: 0px;
    left: 20px;
    background-color: white;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--light-color);
}

.socialMedia {
    padding: 50px 0;
}

.socialMedia ul {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-left: -30px;
}

.socialMedia ul a {
    display: flex;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    background-color: var(--light-color);
    transition: var(--Transition);
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    position: relative;
}

.socialMedia ul a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    border-radius: 10px;
    transition: var(--Transition);
}

.socialMedia ul a:hover {
    background-color: var(--main-color);
    color: var(--light-color);
}

.socialMedia ul a:hover::before {
    border: 1px solid var(--light-color);
    width: 97%;
    height: 97%;
}