:root {
    --main-color: #4682b4;
    --light-color: #B0c4de;
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ed3330;
    --alt-red-color: #eb5757;
    --yellow-color: #ffc400;
    --blue-color: #2196f3;
    --purple-color: #6c55e0;
    --section-color: #eff7fa;
    --input-background-color: #eff7fa;
    --Transition: all .3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:767px) {
    .container {
        width: 100%;
    }
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

::selection {
    background-color: var(--light-color);
    color: var(--main-color);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--section-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

.fix-active {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: #fffc;
    box-shadow: 0 0 20px 0px #b0c4de69;
    z-index: 1000;
}


.landing-page {
    padding: 60px 0;
}

.landing-page .landing {
    display: flex;
    align-items: center;
    gap: 15px;
}

.landing-page .intro {
    flex: 1;
}

.landing-page .intro h1 {
    margin: 0;
    font-size: 65px;
    color: var(--main-color);
}

.landing-page .intro h4 {
    margin: 0;
    font-size: 27px;
    color: var(--light-color);
    position: relative;
}

.landing-page .intro h4::after {
    content: "";
    position: absolute;
    animation: typing 2s steps(19) 2;
    width: 365px;
    height: 100%;
    background-color: white;
}

.landing-page .intro h4::before {
    content: "";
    position: absolute;
    animation-name: fill;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    bottom: -10px;
    height: 3px;
    border-radius: 10px;
    left: 0;
    width: 10%;
    background-color: var(--light-color);
}

@keyframes fill {
    0% {
        width: 10%;
        background-color: var(--light-color);
    }

    50% {
        width: 47%;
        background-color: var(--light-color);
    }

    100% {
        width: 10%;
        background-color: var(--light-color);
    }
}

@keyframes typing {
    0% {
        left: 0%;
    }

    50% {
        left: 100%;
        background-color: transparent;
    }

    100% {
        left: 100%;
        background-color: transparent;
    }
}

.landing-page .intro .explain {
    padding: 15px 0;
}

.landing-page .intro .explain p:first-child {
    margin: 0;
    font-size: 22px;
    color: var(--dark-color);

}

.landing-page .intro .explain p:last-child {
    margin: 0;
    line-height: 1.7;
    font-size: 21px;
    margin-top: 15px;
    width: 465px;
}

.landing-page .intro a {
    display: block;
    padding: 15px;
    margin: auto;
    width: fit-content;
    background-color: var(--light-color);
    color: var(--main-color);
    border-radius: 10px;
    font-size: 21px;
    position: relative;
    transition: var(--Transition);
    overflow: hidden;

}

.landing-page .intro a::before {
    content: attr(date-text);
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
    transform: translateX(-100%);
    width: 100;
    color: var(--light-color);
    transition: var(--Transition);
    text-align: center;
    display: block;
}

.landing-page .intro a span {
    display: block;
    transition: var(--Transition);
}

.landing-page .intro a:hover::before {
    transform: translateX(15px);

}

.landing-page .intro a:hover span {
    transform: translate(100%);
}

.landing-page .intro a:hover {
    background-color: var(--main-color);
}

.landing-page .image {
    flex: 1;
    z-index: 100;
}

.landing-page .image img {
    width: 100%;
}

.University-news {
    padding: 70px 0;
    background-color: var(--section-color);
    margin-top: 50px;
}

.University-news .news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 35px;
    padding-top: 100px;
}

.University-news .news .box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 0 0 / 10%);
    position: relative;
}

.University-news .news .box .image img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    min-height: 267px;
}

.University-news .news .box .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.University-news .news .box .content h2 {
    padding: 10px;
    margin: 0;
    color: var(--main-color);
    width: fit-content;
    position: relative;
    transition: var(--Transition);
    cursor: pointer;
}

.University-news .news .box .content h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20%;
    transition: var(--Transition);
    height: 3px;
    background-color: var(--light-color);
    border-radius: 10px;
    transform: translateX(-50%);
}

.University-news .news .box .content h2:hover::before {
    background-color: var(--main-color);
    width: 50%;

}

.University-news .news .box .content .explain {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.University-news .news .box .content .explain p {
    margin: 0;
    color: var(--dark-color);
    line-height: 1.7;
    height: 110px;
}

.University-news .news .box .content .explain span {
    color: var(--alt-red-color);
    display: block;
}

.University-news .news .box .content a {
    display: block;
    margin: auto;
    width: fit-content;
    padding: 10px 15px;
    background-color: var(--light-color);
    color: var(--main-color);
    text-align: center;
    transition: var(--Transition);
    border-radius: 5px;
}

.Hot-news {
    position: absolute;
    top: 72%;
    right: 30px;
}

.Hot-news svg {
    color: #b0c4de4d;
    font-size: 70px;
}

.Hot-news span {
    position: absolute;
    top: 34%;
    left: 36%;
    transform: translate(-50%);
    font-size: 20px;
    color: var(--main-color);
}

.University-degree {
    padding-top: 120px;
    padding-bottom: 60px;
}

.University-degree .degree {
    display: flex;
    /* align-items: center; */
    gap: 25px;
    padding: 70px 0;
}

.University-degree .degree .image {
    flex: 1;
}

.University-degree .degree .image img {
    width: 500px;
    margin-top: -20px;
}

.University-degree .degree .content {
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.University-degree .degree .content h2 {
    margin: 0;
    color: var(--main-color);
    font-size: 35px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.University-degree .degree .content h2 svg {
    color: var(--light-color);
}

.University-degree .degree .content p {
    margin: 0;
    color: var(--dark-color);
    line-height: 1.7;
    padding: 10px;
    font-size: 20px;
}

.University-degree .degree .content img {
    position: absolute;
    width: 70px;
    bottom: 40px;
    left: 120px;
}

.University-degree .degree .content a {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 15px;
    display: block;
    background-color: var(--light-color);
    color: var(--main-color);
    border-radius: 6px;
    font-size: 20px;
}

.important-links {
    padding-top: 70px;
    padding-bottom: 70px;
}

.important-links .links {
    padding-top: 90px;
}

.important-links .links ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.important-links .links ul li a img {
    width: 170px;
    transition: var(--Transition);
}

.important-links .links ul li a:hover img {
    transform: scale(1.1);
}

.people-Testimonials {
    padding: 100px 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

.people-Testimonials .Testimonials {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
}

.people-Testimonials .Testimonials .content {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 500px;
}

.people-Testimonials .Testimonials .content p {
    color: var(--light-color);
    font-size: 23px;
    margin: 0;
    line-height: 1.6;
}

.people-Testimonials .Testimonials .content a {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 12px;
    display: block;
    background-color: var(--light-color);
    color: var(--main-color);
    border-radius: 6px;
    font-size: 16px;
}

.people-Testimonials .Testimonials .cards {
    position: relative;
}

.people-Testimonials .Testimonials .cards .CardsTrack{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 670px;
    gap: 30px;
    height: 283px;
}

.people-Testimonials .Testimonials .cards .card {
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 0 0 / 10%);
    text-align: center;
    min-width: 650px;
}

.people-Testimonials .Testimonials .cards .card>h2 {
    color: var(--main-color);
    margin: 0;
    line-height: 1.7;
}

.people-Testimonials .Testimonials .cards .card .info {
    display: flex;
    align-items: center;
}

.people-Testimonials .Testimonials .cards .card .info img {
    width: 70px;
    border-radius: 50%;
}

.people-Testimonials .Testimonials .cards .card .info .name {
    padding: 15px;
}

.people-Testimonials .Testimonials .cards .card .info .name h2 {
    color: var(--dark-color);
    margin: 0;
    margin-bottom: 8px;
    font-size: 21px;
}

.people-Testimonials .Testimonials .cards .card .info .name div span {
    color: var(--light-color);
}

.people-Testimonials .Testimonials .cards .card .info .name div span:first-child {
    margin-right: 10px;
}

.people-Testimonials .Testimonials .cards .slides {
    position: absolute;
    bottom: -55px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.people-Testimonials .Testimonials .cards .slides button {
    background-color: var(--input-background-color);
    border-radius: 5px;
    border: 1px solid var(--light-color);
    padding: 2px 10px;
    cursor: pointer;
    transition: var(--Transition);
}

.people-Testimonials .Testimonials .cards .slides button svg {
    font-size: 25px;
    color: var(--light-color);
}

.people-Testimonials .Testimonials .cards .slides ul {
    display: flex;
    gap: 5px;
}

.people-Testimonials .Testimonials .cards .slides ul li {
    width: 20px;
    height: 20px;
    border: 1px solid var(--light-color);
    border-radius: 50%;
}

.people-Testimonials .Testimonials .cards .slides ul li:first-child {
    background-color: var(--light-color);
}

.universityNumbers {
    padding: 70px 0;
    background-color: var(--input-background-color);
    border-radius: 10px;
    margin: 50px 0;
}

.universityNumbers .Numbers {
    display: flex;
    justify-content: space-between;
}

.universityNumbers .Numbers .item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.universityNumbers .Numbers .item img {
    width: 85px;
}

.universityNumbers .Numbers .item .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
    font-size: 30px;
}

.universityNumbers .Numbers .item .content span:first-child {
    color: var(--alt-red-color);
}